body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightyellow;
  color: black;
  margin: auto;
  max-width: 800px;
  width: 100%;
}

h1,
h2 {
  font-family: "Tahoma", Arial;
  text-align: center;
}

p,
li {
  font-family: "Helvetica", Arial;
}

li a {
  color: green;
  text-decoration: none;
}

a {
  color: maroon;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:visited {
  color: brown;
  text-decoration: none;
}

#intro-figure {
  text-align: center;
}

#intro-caption {
  font-style: italic;
}

img {
  max-width: 50%;
  height: auto;
}

.separator-line {
  border-bottom: 2px solid #ccc;
  margin: 20px 0 0 0px;
}

.outline-table {
  border: 1px solid #222;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: system-ui, Arial, sans-serif;
  text-align: left;
}

.outline-table th,
.outline-table td {
  border: 1px solid #222;
  padding: 8px;
}

.outline-table thead th {
  font-weight: 600;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) {
  main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 481px) {
  main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

form {
  padding: 20px;
  border-radius: 12px;
  max-width: 800px;
  margin: auto;
}

fieldset {
  margin-bottom: 20px;
  border: none;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input[type="file"] {
  border: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:active {
  background-color: #3e8e41;
  /* Darker color on click */
}

pre {
  padding: "12px";
  background: #1e1e1e;
  color: #dcdcdc;
  border-radius: "8px";
  overflow-x: "auto";
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}

ul {
  padding-left: 20px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.accordion:hover {
  background-color: #ddd;
}

.panel {
  padding: 0 15px;
  display: none;
  background-color: white;
  overflow: hidden;
  border-left: 2px solid #4a90e2;
  border-right: 2px solid #4a90e2;
  border-bottom: 2px solid #4a90e2;
  border-radius: 0 0 5px 5px;
}

#introsContainer {
  display: flex;
  /* Make the container a flex container */
  flex-direction: column;
  /* Arrange content in a column */
  align-items: center;
  /* Center items within the column horizontally */
  text-align: center;
  /* Center text within the items */
  max-width: 800px;
  /* Optional: Limit the width of the column */
  padding: 20px;
  /* Optional: Add some padding */
}

#search {
  border-radius: 10px;
  margin-top: 10px;
}

.checklist {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 520px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 equal-width columns */
  gap: 10px;
  /* Spacing between grid items */
}

.checklist li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

label {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.label-text {
  flex: 1;
}